

@import './assets/style/semantic.scss';
@import './assets/style/kimbie.dark.scss';

*{
  font-family: 'DejaVuSansMono', "Menlo", "Liberation Mono", "Consolas", "DejaVu Sans Mono", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

body.light{
  background-color: #fcfcfd !important;
  color: #1F2931 !important;
}

body.dark,{
  background-color: #1F2931 !important;
  color: #fcfcfd !important;
}

body.dark textarea,
body.dark input{
  background-color: #1F2931 !important;
  color: #eee !important;
  border: 1px solid #888 !important;
}
body.dark label,
body.dark .divider,
body.dark button{
  color: #eee !important;
}

html{
  font-size: 14px;
}


.main-container{
  margin: 0.5rem !important;
  padding-top: 70px !important;
  margin: 0 0.8rem !important;
  .row{
    padding: 0 !important;
  }
  .divider{
    margin: 0 !important;
  }
}

.logs{
  max-height: 48vh !important;
  overflow-y: auto;
  overflow-x: auto;
  padding: 10px;
  div{
    white-space: nowrap;
    margin: 5px 0;
  }
}

.clear-btn{
  font-size: 0.7rem !important;
  padding: 0 1rem;
  border: none;
  color: red;
  background: none;
  cursor: pointer;
}

.ui.horizontal.divider:after {
  background-position: left 1em top 10%;
}

.ui.horizontal.divider:before {
  background-position: left 1em top 10%;
}

.response{
  overflow-y: auto;
  overflow-x: auto;
  max-height: 300px;
}
@media only screen and (max-width: 767px) {
  .response{
    margin-bottom: 1rem;
  }
}

.header{
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1vh;
  border-bottom: 1px solid #ccc;
  background-color: #eee;

  .title{
    font-weight: bold;
  }

  .theme-btn{
    position: absolute;
    right: 0;
    width: 80px;
    top: 0;
    bottom: 0;
    text-align: center;
    padding-top: 5px;
    font-size: 1.4rem;
    cursor: pointer;
  }

  .theme-btn.light{
    background-color: #eee !important;
    color: #1F2931 !important;
    border-left: 1px solid #ccc;
  }
  .theme-btn.dark{
    background-color: #1F2931 !important;
    color: #eee !important;
  }
}

.divider{
  padding-top: 1rem;
}

.margin-top-5px{
  margin-top: 5px !important;
}